 #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -38px;
  }
  #navigator-toolbox:hover:not(:focus-within)
  {
	margin-top: -38px;
  }
  #navigator-toolbox {
    transition: 0.2s margin-top ease-out;
  }

