#nav-bar:not([customizing="true"]):not([inFullscreen]) {
	min-height: 1px !important;
	max-height: 0px !important;
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	transition: all 100ms linear 0s !important;
	z-index: -5 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
	min-height: 40px !important;
	max-height: 40px !important;
	margin-top: 1px !important;
	margin-bottom: -40px !important;
	transition: all 100ms linear 0s !important;
	z-index: 5 !important;
} 

#urlbar{
	margin-top: 20px !important;
}
#nav-bar .toolbarbutton-1{
	margin-top: -15px !important;
}
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container{
	height: 30px !important;
	margin-top: -10px !important;
	margin-bottom:  10px !important;
	top: 10px !important;
}
#urlbar-input-container{
	top: 4px !important;
	margin-top: -4px !important;
} 

